<!-- vim: set ft=html: -->
<div id="login">
  <div class="login-popup">
    <svg
        class="logo"
        width="200"
        height="200.23076"
        viewBox="0 0 105.83332 105.95544"
        version="1.1"
        >
        <path style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:0.244701"
              d="M 84.153095,6.2887413e-7 C 70.449781,0.04894079 56.526236,0.0488478 43.043154,0.02437283 H 21.631727 c -0.954338,0 -1.982184,0.07350567 -3.156754,0.22032615 C 13.458581,0.90539112 8.8093409,3.4014346 5.3590423,7.3166473 1.8842735,11.25633 -0.02450014,16.2726 -2.9935102e-5,21.411317 v 23.075476 19.159786 c 0,0.929863 0.0735084851,1.859726 0.220329705102,2.814059 1.32139093,8.295357 5.97141463,14.070284 13.77740923,17.129056 1.615033,0.636222 3.302792,0.954524 5.064647,1.297105 0.562814,0.12235 1.150001,0.220326 1.737286,0.342676 v 0.415801 3.792862 c 0,3.327931 -0.02422,6.802587 0.07361,10.179458 0.04894,1.443734 0.58797,3.010104 1.419957,4.086794 1.027748,1.34585 2.495275,2.15317 4.085838,2.25105 H 26.7461 c 1.639504,0 3.229969,-0.70982 4.55136,-2.03121 6.484604,-6.460097 12.455333,-12.455075 18.230301,-18.278954 0.464934,-0.464932 0.85724,-0.611752 1.517936,-0.611752 12.504273,0.02447 22.806228,0.02447 32.423018,0 1.639504,0 3.302596,-0.171291 4.99104,-0.489402 C 98.345714,82.708866 105.80913,73.752913 105.8336,63.72018 v -42.455588 -0.02437 c 0,-0.880923 -0.097,-1.713097 -0.21935,-2.64296 C 104.97802,13.556422 102.45759,8.8580715 98.517887,5.4077903 94.529244,1.933039 89.463814,-1.8181338e-6 84.22719,-1.8181338e-6 Z M 62.938114,7.3902509 l 9.713985,4.2091401 -4.600569,10.570883 10.130737,4.404615 -4.208679,9.71443 -10.130761,-4.404614 -4.60057,10.571361 -9.714499,-4.209141 4.600594,-10.570883 -4.820924,-2.104331 v 0.12235 c -0.02447,0 -1.174276,-0.563003 -1.174276,-0.563003 -2.300199,-1.174563 -6.093276,-2.544984 -11.085197,-2.544984 -4.991922,0 -8.44222,3.058952 -8.44222,5.70172 0,2.642769 2.226984,5.187466 10.351091,8.246226 10.693479,3.915213 15.464973,9.347666 15.464973,17.594083 0,8.246416 -2.031125,9.469825 -5.726126,12.626465 h 0.04923 c -4.037583,3.450281 -9.959372,5.285919 -17.129142,5.285919 -7.169769,0 -12.553581,-1.541902 -16.175171,-3.719739 l -0.684896,-0.4158 2.960797,-10.522133 1.149928,0.660501 c 2.887484,1.663964 7.952987,3.42581 13.409842,3.42581 5.456855,0 9.396656,-2.471477 9.396656,-6.606921 0,-4.135443 -2.471686,-5.848349 -9.494635,-8.319827 -10.98712,-3.817332 -16.345801,-9.469825 -16.345801,-17.275781 0,-7.805955 2.104339,-9.249785 5.897221,-12.333015 3.890762,-3.15664 9.274011,-4.844789 15.587323,-4.844789 6.313312,0 8.344266,0.636031 11.770094,1.884005 0.293642,0.09788 0.587358,0.22023 0.954411,0.367051 H 50.066 l 0.856457,0.391426 7.414642,3.230337 z m 13.87392,30.7343241 9.788081,4.25789 -4.649339,10.693711 9.151954,3.963962 -0.318308,0.905202 v 0.02485 c -0.929868,2.765118 -2.152595,5.456731 -3.620807,7.97715 l -0.489404,0.832078 -0.489404,-0.220326 -8.491944,-3.694887 -4.649338,10.693234 -9.788081,-4.257889 4.649338,-10.693233 -10.253088,-4.453842 4.257889,-9.788032 10.253112,4.453842 z" />
    </svg>
    <h3 class="warning">⚠️ Disclaimer ⚠️</h3>
    <ul>
      <li>Iedereen kan een <b class="text-accent">WILLEKEURIGE NAAM</b> kiezen.</li>
      <li>Deze chat wordt <b class="text-accent">NIET GEMODEREERD</b>.</li>
      <li>Deel <b class="text-accent">GEEN GEVOELIGE GEGEVENS</b> met anderen!</li>
    </ul>
    {{#if offline}}
    <span id="err-mesg" class="err">Global Chat is momenteel offline. Sorry voor het ongemak.</span>
    {{else}}

    <span id="err-mesg" class="err"></span>
    <div class="container">
      <input maxlength="{{max_username_len}}" id="name-input" type="text" placeholder="({{placeholder}})" data-default_username="{{placeholder}}">
      <button id="connectbtn" class="button">
        <svg
            width="20"
            height="20"
            viewBox="0 0 26.45833 26.45833"
            version="1.1">
          <path
              style="stroke:currentColor;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none"
              d="M 2.6458333,13.229167 H 23.8125"/>
          <path
              style="stroke:currentColor;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none"
              d="M 13.229167,2.6458333 23.8125,13.229167"/>
          <path
              style="stroke:currentColor;stroke-width:3.96875;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none"
              d="M 13.229167,23.8125 23.8125,13.229167"/>
        </svg>
      </button>
    </div>
    {{/if}}
  </div>
</div>

