[Unit]
Description=smppgc server

[Service]
ExecStart=/bin/smppgc
User=smppgc
Group=smppgc
Environment=ROCKET_CONFIG=/etc/smppgc.toml ROCKET_ENV=production
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
