@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext);
body{
  --color-shadow: var(--color_base00);
  --color_error: #c03010;
  color: var(--color_text);
  background: var(--color_base01);
  font-family: "Open Sans", "Helvetica Neue", helvetica, sans-serif
}

#topbar,#botbar{
  background: var(--color_base02);
  display: flex;
  flex-direction: row;
}
#topbar > *{
  padding-right: 2em;
}

#connection-status{
  font-weight: bold;
  color: var(--color_accent);
  margin-top: auto;
  margin-bottom: auto;
}
#connection-status:after{
  color: var(--color_accent);
  animation: spinner 3s ease infinite;
  content: "";
  display:inline-block;
  width: 1em;
}
.grow-wrap::after,
#send-input{
  flex-grow: 80;
  resize: none;
  border: none;
  border-radius: 15px;
  margin: 3px;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--color_base02);
  color: var(--color_text);
  padding: 0.5em 2em 0.5em 2em;
  max-height:300px;
}

/* auto grow */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  flex-grow: 1000;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;

  overflow: auto;
}
/* end auto grow */

@keyframes spinner{
	0% {
    content: " ";
	}
  25%{
    content: ".";
  }

  50%{
    content: "..";
  }

  75%{
    content: "..."
  }

  100%{
    content: " ";
  }

}

.chat-name{
  flex-grow: 10;
}

.button{
  background-color: var(--color_base02);
  border: none;
  color: var(--color_accent);
  transition: background-color 1s ease-in-out;

  padding: 1em;
  padding-left:2em;
  padding-right:2em;
  cursor: pointer;
}
.button:hover{
  background-color:var(--color_base03);
  cursor: unset;
}
.button[disabled]{
  cursor: unset;
  color: var(--color_base03);
}


.warning{
  font-weight: bold;
  color: var(--color_accent);
  margin: 0px 1rem 0px 1rem;
}
.text-accent{
  color: var(--color_accent);
}

#login{
  background: #00000040;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.login-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 30px;
  max-width: 600px;
  padding: 8px;
  background-color: var(--color_base01-b0);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 2px var(--color-shadow);

  display: flex;
  flex-direction: column;
}

.login-popup > .container{
  margin: 0.5em;
  margin-top: 1em;
  display:flex;
  flex-direction: row;
  background: var(--color_base02);
  border-radius: 10000px;
  overflow:hidden;
}

#name-input {
  font-family: inherit;
  font-size: inherit;
  border:none;
  background: var(--color_base02);
  color: var(--color_text);
  display: block;
  padding: 14px 20px;
  flex-grow:10;
  margin: 3px;
  border-radius: 10000px;
}

#name-input::placeholder{
  color: var(--color_text);
  opacity: 0.7;
}

a{
  color: var(--color_accent);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.logo{
  margin: 2rem;
  margin-left:auto;
  margin-right:auto;
  color: var(--color_accent);
  max-width: 50vw;
  filter: drop-shadow(10px 10px 2px var(--color-shadow));
}


#err-mesg{
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.err{
  color: var(--color_error);
}
.info{
  color: var(--color_accent);
}
.info:not(:empty)::after{
  content: " /";
  animation: mesg-loading 0.4s ease infinite;
  color: var(--color_accent);
}

#chat{
  position:absolute;
  display:flex;
  flex-direction: column;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}
#mesgs{
  flex-grow: 1000;
  margin: 10px;
  display:flex;
  flex-direction: column;
  overflow:auto;
}
#pending-mesgs{
  color: var(--color_text);
  margin: 10px;
}
#pending-mesgs div:after{
  content: " ";
  animation: spinner 3s ease infinite;
  color: var(--color_accent);
}
.message{
  padding: 10px;
  padding-top: 0px;
  background-color: var(--color_base03);
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  align-self: start;
  max-width: -moz-available;
  display:flex;
  flex-direction: column;
}
.message_top{
  display:flex;
  flex-direction: row;
}
.space{
  flex-grow: 10;
}
.message_timestamp{
  margin-left: 0.6rem;
  font-weight: bold;
  font-size: 0.6em;
  opacity: 0.6;
  color: var(--color_text);
}
.driehoek_bubble{
  position: relative;
  left: -18px;
  top: 0px;
  color: var(--color_base03);
}
.user{
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
.user_content{
  margin-top:-5px; /* To offset the space taken up by the arrow */
  max-width:100%;
  word-wrap: break-word;
  display:flex;
  flex-direction:column;
}
